{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailroutablepage_tags%}
{% load wagtailcore_tags %}

{% block body_class %}template-productpage{% endblock %}
  
{% block content %}
    <div class="sub-page-header">
        {% if request.get_full_path == '/tea-products/category/accessories/' %}            
        <h1>Accessories</h1>
        {% elif request.get_full_path == '/tea-products/category/anti-aging/' %}  
        <h1>Anti-Aging</h1>  
        {% elif request.get_full_path == '/tea-products/category/antioxidant/' %}  
        <h1>Antioxidant</h1>  
        {% elif request.get_full_path == '/tea-products/category/black-tea/' %}  
        <h1>Black Tea</h1>  
        {% elif request.get_full_path == '/tea-products/category/caffeine-free/' %}  
        <h1>Caffeine Free</h1>  
        {% elif request.get_full_path == '/tea-products/category/ceremonial/' %}  
        <h1>Ceremonial</h1>  
        {% elif request.get_full_path == '/tea-products/category/chai/' %}  
        <h1>Chai</h1>  
        {% elif request.get_full_path == '/tea-products/category/fruity-tea/' %}  
        <h1>Fruity Tea</h1>  
        {% elif request.get_full_path == '/tea-products/category/green-tea/' %}  
        <h1>Green Tea</h1>  
        {% elif request.get_full_path == '/tea-products/category/herbal-tea/' %}  
        <h1>Herbal Tea</h1>  
        {% elif request.get_full_path == '/tea-products/category/hibiscus/' %}  
        <h1>Hibiscus</h1>  
        {% elif request.get_full_path == '/tea-products/category/iced-tea/' %}  
        <h1>Iced Tea</h1>  
        {% elif request.get_full_path == '/tea-products/category/matcha/' %}  
        <h1>Matcha</h1>  
        {% elif request.get_full_path == '/tea-products/category/mint-tea/' %}  
        <h1>Mint Tea</h1>  
        {% elif request.get_full_path == '/tea-products/category/oolong-tea/' %}  
        <h1>Oolong Tea</h1>  
        {% elif request.get_full_path == '/tea-products/category/peach/' %}  
        <h1>Peach</h1>  
        {% elif request.get_full_path == '/tea-products/category/smokey/' %}  
        <h1>Smokey</h1>  
        {% elif request.get_full_path == '/tea-products/category/tea-bags/' %}  
        <h1>Tea Bags</h1>  
        {% elif request.get_full_path == '/tea-products/category/white-tea/' %}  
        <h1>White Tea</h1>     
        {% elif request.get_full_path == '/tea-products/mood/calm/' %}  
        <h1>Feeling Calm</h1>    
        {% elif request.get_full_path == '/tea-products/mood/adventurous/' %}  
        <h1>Feeling Adventurous</h1>    
        {% elif request.get_full_path == '/tea-products/mood/creative/' %}  
        <h1>Feeling Creative</h1>    
        {% elif request.get_full_path == '/tea-products/mood/high-energy/' %}  
        <h1>Feeling High Energy</h1>    
        {% elif request.get_full_path == '/tea-products/mood/sensual/' %}  
        <h1>Feeling Sensual</h1>    
        {% elif request.get_full_path == '/tea-products/mood/relaxed/' %}  
        <h1>Feeling Relaxed</h1>    
        {% elif request.get_full_path == '/tea-products/mood/contentment/' %}  
        <h1>Feeling Contentment</h1>    
        {% elif request.get_full_path == '/tea-products/mood/stressed/' %}  
        <h1>Feeling Stressed</h1>       
        {% else %}
        <h1>{{ page.title }}</h1>          
        {% endif %}
    </div>

    <div class="width-800 shop-intro center">
        {% if request.get_full_path == '/tea-products/mood/calm/' %}  
        <p>If your feeling calm you may be experiencing peacful vibes and tranquility. You are free from disturbance and you are neither excited nor upset. In this state you may want to enhance your calm state or break from it. Browse the teas below to see what suits your needs.</p>
        {% elif request.get_full_path == '/tea-products/mood/adventurous/' %}  
        <p>Feeling adventurous? Willing to take risks or try new things? If you're looking for something to help get you started, try out the teas below to see what works for you!</p>
        {% elif request.get_full_path == '/tea-products/mood/creative/' %}  
        <p>Have you sparked an idea? Feeling creative and artistic? Try out some of our green teas and ginger teas to help boost brain function and creativity. Woo!</p>
        {% elif request.get_full_path == '/tea-products/mood/high-energy/' %}  
        <p>You're possessing speed and energy beyond the classic laws of motion! Maybe you need to chill out? Take a look below to view our most calming teas.</p>
        {% elif request.get_full_path == '/tea-products/mood/sensual/' %}  
        <p>You are full of passion and currently have the ability to fully experience one's senses. Drinking or even smelling these teas can be very satisfying in this state.</p>
        {% elif request.get_full_path == '/tea-products/mood/relaxed/' %}  
        <p>Feeling free from tension and anxiety. You are at ease and your body is not tense. You are tapped into zen. Take a look below to enhance or break free from this mood</p>
        {% elif request.get_full_path == '/tea-products/mood/contentment/' %}
        <p>This mood is a state of happiness and satisfaction. Maybe your living the simple country life or the big city life. whatever makes you content in your life, enhance it with a hot cup of happiness that sooths your soul.</p>  
        {% elif request.get_full_path == '/tea-products/mood/stressed/' %} 
        <p>Stressed out? Do you have pressure, tension or emotional strain? The average person feels stressed from time to time and that can really impact our lives negatively. Ease that with some stress-free teas down below.</p> 
        {% else %}
        {{ page.description|richtext }}
        {% endif %}
        <div class="mood-board">
                <a href="{{ self.url }}mood/calm/">
                    <span></span>
                    <span>Calm</span>
                </a>

                <a href="{{ self.url }}mood/adventurous/">
                    <span></span>
                    <span>Adventurous</span>
                </a>

                <a href="{{ self.url }}mood/creative/">
                    <span></span>
                    <span>Creative</span>
                </a>

                <a href="{{ self.url }}mood/high-energy/">
                    <span></span>
                    <span>High Energy</span>
                </a>

                <a href="{{ self.url }}mood/sensual/">
                    <span></span>
                    <span>Sensual</span>
                </a>

                <a href="{{ self.url }}mood/relaxed/">
                    <span></span>
                    <span>Relaxed</span>
                </a>

                <a href="{{ self.url }}mood/contentment/">
                    <span></span>
                    <span>Contentment</span>
                </a>

                <a href="{{ self.url }}mood/stressed/">
                    <span></span>
                    <span>Stressed</span>
                </a>
            </div>
    </div>

    <div class="width-1500 product-listings">
        <div class="doubleCol">
            <p>Categories</p>
            <ul class="product-cats">
                <li><a href="{{ self.url }}">All</a></li>
                {% for cat in categories %}
                <li>
                    <a href="{{ self.url }}category/{{cat.slug }}">{{ cat.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="doubleCol tea-listings">              
            {% for post in posts %}
                <a class="tripleCol center" href="{{ post.url }}">
                {% image post.product_image fill-342x342 as product_img %}
                <img src="{{ product_img.url }}" alt="{{ product_img.alt }}" />
                <h3>{{ post.title }}</h3>
                <p>${{ post.price|striptags }}</p>
                <span>View Details</span>
                <span><button class="snipcart-add-item"
                    data-item-id="{{ post.slug }}"
                    data-item-price="{{ post.price|striptags }}"
                    data-item-url="/tea-products/"
                    data-item-image="{{ product_img.url }}"
                    data-item-name="{{ post.title }}">
                    Add to Cart
                </button></span>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}