{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}
  
{% block content %}
    <div class="sub-page-header">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="width-800 center">
        {{ page.description|richtext }}
        {% for cat in categories %}
            <li>
                <a href="?category={{cat.slug }}">{{ cat.name }}</a>
            </li>
        {% endfor %}
    </div>

    <div class="width-1500">
        {% for post in latest_posts %}
            <a class="doubleCol" href="{{ post.url }}">
            {% image post.blog_image fill-933x728 as blog_img %}
            <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}" />
            {{ post.title }}
            <p>{{ post.description|striptags|truncatewords:20 }} <span>Read More</span></p>
            </a>
        {% endfor %}
    </div>

{% endblock %}